In [3]:
# Load datasets
import pandas as pd

df_08 = pd.read_csv('all_alpha_08.csv')
df_18 = pd.read_csv('all_alpha_18.csv')

In [6]:
df_08.head(1)

,Model,Displ,Cyl,Trans,Drive,Fuel,Sales Area,Stnd,Underhood ID,Veh Class,Air Pollution Score,FE Calc Appr,City MPG,Hwy MPG,Cmb MPG,Unadj Cmb MPG,Greenhouse Gas Score,SmartWay
0,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,CA,U2,8HNXT03.7PKR,SUV,7,Drv,15,20,17,22.0527,4,no

In [10]:
df_08.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2404 entries, 0 to 2403
Data columns (total 18 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Model                 2404 non-null   object
 1   Displ                 2404 non-null   float64
 2   Cyl                   2205 non-null   object
 3   Trans                 2205 non-null   object
 4   Drive                 2311 non-null   object
 5   Fuel                  2404 non-null   object
 6   Sales Area            2404 non-null   object
 7   Stnd                  2404 non-null   object
 8   Underhood ID          2404 non-null   object
 9   Veh Class             2404 non-null   object
 10  Air Pollution Score   2404 non-null   object
 11  FE Calc Appr          2205 non-null   object
 12  City MPG              2205 non-null   object
 13  Hwy MPG               2205 non-null   object
 14  Cmb MPG               2205 non-null   object
 15  Unadj Cmb MPG         2205 non-null   float64
 16  Greenhouse Gas Score  2205 non-null   object
 17  SmartWay              2404 non-null   object
dtypes: float64(2), object(16)
memory usage: 338.2+ KB

In [7]:
df_18.head(1)

,Model,Displ,Cyl,Trans,Drive,Fuel,Cert Region,Stnd,Stnd Description,Underhood ID,Veh Class,Air Pollution Score,City MPG,Hwy MPG,Cmb MPG,Greenhouse Gas Score,SmartWay,Comb CO2
0,ACURA RDX,3.5,6.0,SemiAuto-6,2WD,Gasoline,FA,T3B125,Federal Tier 3 Bin 125,JHNXT03.5GV3,small SUV,3,20,28,23,5,No,386

In [12]:
df_18.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1611 entries, 0 to 1610
Data columns (total 18 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Model                 1611 non-null   object
 1   Displ                 1609 non-null   float64
 2   Cyl                   1609 non-null   float64
 3   Trans                 1611 non-null   object
 4   Drive                 1611 non-null   object
 5   Fuel                  1611 non-null   object
 6   Cert Region           1611 non-null   object
 7   Stnd                  1611 non-null   object
 8   Stnd Description      1611 non-null   object
 9   Underhood ID          1611 non-null   object
 10  Veh Class             1611 non-null   object
 11  Air Pollution Score   1611 non-null   int64
 12  City MPG              1611 non-null   object
 13  Hwy MPG               1611 non-null   object
 14  Cmb MPG               1611 non-null   object
 15  Greenhouse Gas Score  1611 non-null   int64
 16  SmartWay              1611 non-null   object
 17  Comb CO2              1611 non-null   object
dtypes: float64(2), int64(2), object(14)
memory usage: 226.7+ KB

In [15]:
## Selecting duplicate rows except first
#  occurrence based on all columns

duplicate_08 = df_08[df_08.duplicated()]
duplicate_08

,Model,Displ,Cyl,Trans,Drive,Fuel,Sales Area,Stnd,Underhood ID,Veh Class,Air Pollution Score,FE Calc Appr,City MPG,Hwy MPG,Cmb MPG,Unadj Cmb MPG,Greenhouse Gas Score,SmartWay
752,DODGE Sprinter 2500,3.5,NaN,NaN,NaN,Gasoline,FA,B8,8MBXT03.5BN8,van,3,NaN,NaN,NaN,NaN,NaN,NaN,no
754,DODGE Sprinter 2500,3.5,NaN,NaN,NaN,Gasoline,CA,B8,8MBXT03.5BN8,van,3,NaN,NaN,NaN,NaN,NaN,NaN,no
769,FORD E150,4.6,NaN,NaN,NaN,Gasoline,FA,B8,8FMXT04.65HA,van,3,NaN,NaN,NaN,NaN,NaN,NaN,no
771,FORD E150,4.6,NaN,NaN,NaN,Gasoline,CA,U2,8FMXT04.65HA,van,3,NaN,NaN,NaN,NaN,NaN,NaN,no
773,FORD E150,5.4,NaN,NaN,NaN,Gasoline,FA,B8,8FMXT05.45H2,van,3,NaN,NaN,NaN,NaN,NaN,NaN,no
775,FORD E150,5.4,NaN,NaN,NaN,Gasoline,CA,U2,8FMXT05.45H2,van,3,NaN,NaN,NaN,NaN,NaN,NaN,no
794,FORD E350,5.4,NaN,NaN,NaN,Gasoline,FA,B8,8FMXT05.45H2,van,3,NaN,NaN,NaN,NaN,NaN,NaN,no
797,FORD E350,5.4,NaN,NaN,NaN,Gasoline,CA,U2,8FMXT05.45H2,van,3,NaN,NaN,NaN,NaN,NaN,NaN,no
800,FORD E350,5.4,NaN,NaN,NaN,Gasoline,FA,HDV,8FMXK05.46R3,van,2,NaN,NaN,NaN,NaN,NaN,NaN,no
958,FREIGHTLINER 2500,3.5,NaN,NaN,NaN,Gasoline,FA,B8,8MBXT03.5BN8,van,3,NaN,NaN,NaN,NaN,NaN,NaN,no
960,FREIGHTLINER 2500,3.5,NaN,NaN,NaN,Gasoline,CA,B8,8MBXT03.5BN8,van,3,NaN,NaN,NaN,NaN,NaN,NaN,no
1000,GMC Savana 1500,5.3,(8 cyl),Auto-L4,4WD,Gasoline,FA,B5,8GMXT05.3384,van,6,Drv,12,16,14,13.8375,2,no
1001,GMC Savana 1500,5.3,(8 cyl),Auto-L4,2WD,Gasoline,FA,B5,8GMXT05.3384,van,6,Drv,12,16,14,13.8612,2,no
1006,GMC Savana 1500,5.3,(8 cyl),Auto-L4,4WD,Gasoline,CA,L2,8GMXT05.3384,van,6,Drv,12,16,14,13.8375,2,no
1007,GMC Savana 1500,5.3,(8 cyl),Auto-L4,2WD,Gasoline,CA,L2,8GMXT05.3384,van,6,Drv,12,16,14,13.8612,2,no
1015,GMC Savana 2500,5.3,(8 cyl),Auto-L4,2WD,Gasoline,FA,B5,8GMXT05.3384,van,6,Drv,12,16,14,13.8612,2,no
1019,GMC Savana 2500,5.3,(8 cyl),Auto-L4,2WD,Gasoline,CA,L2,8GMXT05.3384,van,6,Drv,12,16,14,13.8612,2,no
1021,GMC Savana 3500,6.0,NaN,NaN,NaN,Gasoline,FC,B8,8GMXT06.2394,van,3,NaN,NaN,NaN,NaN,NaN,NaN,no
1023,GMC Savana 3500,6.2,NaN,NaN,NaN,Gasoline,FC,B8,8GMXT06.2394,van,3,NaN,NaN,NaN,NaN,NaN,NaN,no
1026,GMC Savana 3500,4.8,NaN,NaN,NaN,Gasoline,FA,HDV,8GMXK06.0389,van,2,NaN,NaN,NaN,NaN,NaN,NaN,no
1027,GMC Savana 3500,4.8,NaN,NaN,NaN,Gasoline,FA,HDV,8GMXK06.0396,van,2,NaN,NaN,NaN,NaN,NaN,NaN,no
1030,GMC Savana 3500,4.8,NaN,NaN,NaN,Gasoline,CA,L2,8GMXK06.0389,van,2,NaN,NaN,NaN,NaN,NaN,NaN,no
1033,GMC Savana 3500,6.0,NaN,NaN,NaN,Gasoline,FA,HDV,8GMXK06.0389,van,2,NaN,NaN,NaN,NaN,NaN,NaN,no
1034,GMC Savana 3500,6.0,NaN,NaN,NaN,Gasoline,FA,HDV,8GMXK06.0396,van,2,NaN,NaN,NaN,NaN,NaN,NaN,no
1037,GMC Savana 3500,6.0,NaN,NaN,NaN,Gasoline,CA,L2,8GMXK06.0389,van,2,NaN,NaN,NaN,NaN,NaN,NaN,no

In [18]:
duplicate_18 = df_18[df_18.duplicated()]
duplicate_18

Empty DataFrame
Columns: [Model, Displ, Cyl, Trans, Drive, Fuel, Cert Region, Stnd, Stnd Description, Underhood ID, Veh Class, Air Pollution Score, City MPG, Hwy MPG, Cmb MPG, Greenhouse Gas Score, SmartWay, Comb CO2]
Index: []

In [19]:
#datatypes of columns
df_08.dtypes

Model                    object
Displ                   float64
Cyl                      object
Trans                    object
Drive                    object
Fuel                     object
Sales Area               object
Stnd                     object
Underhood ID             object
Veh Class                object
Air Pollution Score      object
FE Calc Appr             object
City MPG                 object
Hwy MPG                  object
Cmb MPG                  object
Unadj Cmb MPG           float64
Greenhouse Gas Score     object
SmartWay                 object
dtype: object

In [20]:
#datatypes of columns
df_18.dtypes

Model                    object
Displ                   float64
Cyl                     float64
Trans                    object
Drive                    object
Fuel                     object
Cert Region              object
Stnd                     object
Stnd Description         object
Underhood ID             object
Veh Class                object
Air Pollution Score       int64
City MPG                 object
Hwy MPG                  object
Cmb MPG                  object
Greenhouse Gas Score      int64
SmartWay                 object
Comb CO2                 object
dtype: object

In [22]:
#features with missing values
df_08.isna().sum(axis = 1)

0       0
1       0
2       0
3       0
4       0
       ..
2399    0
2400    0
2401    0
2402    0
2403    0
Length: 2404, dtype: int64

In [23]:
#features with missing values
df_18.isna().sum(axis = 1)

0       0
1       0
2       0
3       0
4       0
       ..
1606    0
1607    0
1608    0
1609    0
1610    0
Length: 1611, dtype: int64

In [24]:

df_08.duplicated().sum()

25

In [25]:
df_18.duplicated().sum()

0

In [26]:
# count unique values in each column
df_08.nunique()

Model                   436
Displ                    47
Cyl                       8
Trans                    14
Drive                     2
Fuel                      5
Sales Area                3
Stnd                     12
Underhood ID            343
Veh Class                 9
Air Pollution Score      13
FE Calc Appr              2
City MPG                 39
Hwy MPG                  43
Cmb MPG                  38
Unadj Cmb MPG           721
Greenhouse Gas Score     20
SmartWay                  2
dtype: int64