In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('homepage_actions.csv')
df.head(20)

                     timestamp      id       group action
0   2016-09-24 17:42:27.839496  804196  experiment   view
1   2016-09-24 19:19:03.542569  434745  experiment   view
2   2016-09-24 19:36:00.944135  507599  experiment   view
3   2016-09-24 19:59:02.646620  671993     control   view
4   2016-09-24 20:26:14.466886  536734  experiment   view
5   2016-09-24 20:32:25.712659  681598  experiment   view
6   2016-09-24 20:39:03.248853  522116  experiment   view
7   2016-09-24 20:57:20.336757  349125  experiment   view
8   2016-09-24 20:58:01.948663  349125  experiment  click
9   2016-09-24 21:00:12.278374  560027     control   view
10  2016-09-24 21:00:41.351487  265695  experiment   view
11  2016-09-24 21:05:15.348935  601714  experiment   view
12  2016-09-24 21:06:27.553057  601714  experiment  click
13  2016-09-24 21:09:09.046127  416862  experiment   view
14  2016-09-24 21:29:19.766467  487634  experiment   view
15  2016-09-24 21:30:02.739756  487634  experiment  click
16  2016-09-24 23:01:08.713402  468601  experiment   view
17  2016-09-24 23:01:12.108316  468601  experiment  click
18  2016-09-24 23:08:35.540897  293251  experiment   view
19  2016-09-24 23:50:31.623841  515303  experiment   view

In [3]:
# Total number of actions
df.shape

(8188, 4)

In [4]:
# Number of unique users
df.nunique()

timestamp    8188
id           6328
group           2
action          2
dtype: int64

In [6]:
# Control group size VS Experient group size
df.groupby('group').nunique()

            timestamp    id  group  action
group
control          4264  3332      1       2
experiment       3924  2996      1       2

In [6]:
df.action.value_counts()

view     6328
click    1860
Name: action, dtype: int64

In [7]:
# General CTR
df.query('action == "click"').id.nunique() / df.query('action == "view"').id.nunique()

0.2939317319848293

In [10]:
df.timestamp.max(), df.timestamp.min()

('2017-01-18 10:24:08.629327', '2016-09-24 17:42:27.839496')

In [5]:
df.timestamp.max() - df.timestamp.min()

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [6]:
pd.to_datetime(df.timestamp.max())-pd.to_datetime(df.timestamp.min())

Timedelta('115 days 16:41:40.789831')